
.my-top{
    margin-top:0;
    background-image: linear-gradient(138deg,
    #954bf7 0%,
    #b74bd6 50%,
    #da4bb3 100%),
    linear-gradient(
            #ff3520,
            #ff3520);
    .weui-cell__img{
        border-radius:50%;
        margin-right:28px;
        img{
            width:140px;
            height:140px;
            border-radius:50%;
            vertical-align: middle;
        }
    }
    .weui-top_name{
        div{
            color:#fff;
        } 
    }
    .weui-cell{
        padding:70px 30px;
    }
    .weui-cell__bd{
        div{
            padding:4px 0;
        }
    }
    .sex_icon{
        width:24px;
        height:24px;
        vertical-align: middle;
    }
}
.my_icon{
    width:58px;
    height:58px;
    display:block;
    margin-right:20px;
}
.yezhi_cells{
    background:none;
    .weui-cell{
        background:#fff;
        margin:30px;
        border-radius:15px;
    }
}

.foot_box{
    height:130px;
    background:#fff;
    .fiexd_bottom{
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        padding:20px 80px;
        box-shadow: 0px -1px 20px rgba(160, 109, 255, .2);
    }
}
.small-textarea{
    background-color: #f9f9f9;
    border-radius: 6px;
    font-size: 26px;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin:20px 0;
    padding:24px;
    box-sizing: border-box;
}
.mar_cells{
    margin-top:-20px;
    border-radius:20px 20px 0 0;
}

.weui-cell_select{
    padding:10px 26px;
    .weui-cell__bd:after{
        right:30px;
    }
    .weui-select{
        padding:0;
    }
}
.input-blod::placeholder{
    font-weight:500;
}
.input-blod{
    font-size:28px;
    font-weight:600;
}
.input-cell{
    .weui-cell__hd{
        font-size: 50px;
        color: #000000;
        font-weight:600;
        margin-right:10px;
    }
    .weui-input{
        font-size:50px;
        color: #000000;
        font-weight:600;
    }
    .weui-input::placeholder{
        font-weight:500;
        font-size:40px;
    }
}
.there-grids{
    padding:15px;
    .small-grid{
        float:left;
        width:33.3%;
        box-sizing: border-box;
        padding:15px;
    }
    .selet_box{
        border-radius: 15px;
        border: solid 1px #7c69ff;
        text-align: center;
        font-size: 30px;
        color: #7b6aff;
        padding:20px 0;
        font-weight:600;
        box-sizing: border-box;
    }
    .hot_icon{
        position:relative;
        &::after{
            position:absolute;
            right:0;
            top:0;
            content:"";
            width:60px;
            height:60px;
            background:url("../images/hot_icon.png") no-repeat;
            background-size:100% 100%;
        }
    }
    .checked{
        .selet_box{
            background-image: linear-gradient(87deg,
            #7b69ff 0%,
            #a16fff 50%,
            #cc75ff 100%,
            #e58a9c 100%,
            #fd9f39 100%),
            linear-gradient(
                    #fd5241,
                    #fd5241);
            border:none;
            color:#fff;
        }
    }
}

.foot_height{
    height:190px;
}
.small_radio{
    margin-top:0;
    background:none;
    .weui-cell__hd{
        width:34px;
        height:34px;
        margin-right:10px;
        border:1px solid #ddd;
        border-radius:6px;
        .weui-icon-checked{
            vertical-align: initial;
        }
    }
    .x_text{
        text-align:left;
    }
}
.weui-cells_radio .weui-check:checked + .weui-icon-checked:before{
    color:#a16fff
}

.popup-center .model-cells{
    margin:0 34px;
    border-radius: 20px;
}
.modal_title{
    font-size: 34px;
    color: #222222;
    font-weight:700;
    text-align:center;

}
.child_pd>div{
    padding:10px 10px;
}
.weui-cell__dian{
    padding:0 40px 0 20px;
    position:relative;
    z-index: 2;
    .icon_box{
        display:block;
        width:9px;/*no*/
        height:9px;/*no*/
        border-radius:50%;
        background-color: #7c69ff;
    }
    .icon_box-red{
        background-color: #da4bb3;
    }

}
.wei_border{
    &::before{
        left:100px;
    }
    &::after{
        content:"";
        position:absolute;
        left:54px;
        top:-50%;
        height:100%;
        width:1px;/*no*/
        background:#eee;
    }
}
.data_icon{
    width:32px;
    height:32px;
    vertical-align: middle;
}
.left_bor{
    padding:20px 10px 20px 50px;
    border-left:1px solid #eee;
}
.shu_icon{
    display:block;
    width:2px;/*no*/
    height:30px;
    background:#7336fb;
    margin-right:10px;
}
.padd-top{
    padding-top:20px;
}
.show_erro{
    padding:100px 0;
    text-align:center;
    img{
        width:280px;
        height:280px;
    }
}